.todo_list__task {
    padding: 0 2.5%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 30%;
    border-radius: 15px;
    background-color: #ffffff;
    transition: transform 0.2s linear;
}

.todo_list__task:hover {
    transform: scale(1.025)
}


.todo_list__task_container,
.todo_list__task_container--completed {
    display: flex;
    color: #6c757d;
}

.todo_list__task_container--completed {
    color: #57cc99;
}


.todo_list__checkbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo_list__checkbox {
    width: 2vw;
    height: 2vw;
    border-radius: 10px;
    accent-color: #57cc99;
    cursor: pointer;
}


.todo_list__info_container {
    padding: 0 0 0 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}


.todo_list__label {
    overflow: hidden;
    display: block;
    width: 32.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.todo_list__buttons_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12.5%;
    width: 20%;
}


.todo_list__task_button {
    display: flex;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.2s linear, background-color 0.1s linear;
}


.todo_list__task_button--delete:hover {
    color: #c1121f;
}

.todo_list__task_button--delete:active {
    background-color: #f4a6a1;
}


.todo_list__task_button--edit:hover {
    color: #22577a;
}

.todo_list__task_button--edit:active {
    background-color: #a4c8e1;
}