.todo_list {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    width: 50%;
    height: 55%;
    border-radius: 15px;
    background-color: #e9ecef;
    scrollbar-color: #adb5bd #e9ecef;
}